<div class="d-flex align-items-center justify-content-between">
  <h1>Quản lý thực đơn</h1>
  <div class="d-flex gap-2">
    <button
      nz-button
      nz-dropdown
      nzType="primary"
      nzSize="large"
      [nzDropdownMenu]="menu4"
    >
      Import Excel
      <i class="bi bi-chevron-down ms-2"></i>
    </button>

    <nz-dropdown-menu #menu4="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>
          <button nz-button (click)="exportTemplateUpdate()" nzType="link">
            <i nz-icon nzType="download"></i>
            Export Template Update
          </button>
        </li>
        <li nz-menu-item>
          <nz-upload
            [nzBeforeUpload]="beforeUploadUpdate"
            [nzAccept]="'.xlsx'"
            [nzShowUploadList]="false"
          >
            <button nz-button nzType="link">
              <i nz-icon nzType="upload"></i>
              Import File Update
            </button>
          </nz-upload>
        </li>
        <li nz-menu-item>
          <button nz-button (click)="exportTemplateAdd()" nzType="link">
            <i nz-icon nzType="download"></i>
            Export Template Add
          </button>
        </li>

        <li nz-menu-item>
          <nz-upload
            [nzBeforeUpload]="beforeUploadAdd"
            [nzAccept]="'.xlsx'"
            [nzShowUploadList]="false"
          >
            <button nz-button nzType="link">
              <i nz-icon nzType="upload"></i>
              Import File Add
            </button>
          </nz-upload>
        </li>
      </ul>
    </nz-dropdown-menu>

    <button
      nzType="primary"
      nzSize="large"
      nz-button
      routerLink="/them-san-pham"
    >
      Thêm
    </button>

    <button
      nzSize="large"
      nz-button
      [ngClass]="{ 'btn-blue': setOfCheckedId.size === 1 }"
      [disabled]="setOfCheckedId.size != 1"
      (click)="goUpdatePage()"
    >
      Sửa
    </button>

    <button
      nzSize="large"
      nzType="primary"
      nz-button
      nzDanger
      [disabled]="setOfCheckedId.size === 0"
      (click)="showDeleteConfirm()"
    >
      Xoá {{ setOfCheckedId.size === 0 ? "" : setOfCheckedId.size }}
    </button>
  </div>
</div>

<nz-table
  [nzData]="items?.data ?? []"
  [nzFrontPagination]="false"
  [nzScroll]="{ x: '1200px', y: '300px' }"
>
  <thead>
    <tr>
      <th
        nzWidth="80px"
        [nzChecked]="checked"
        [nzIndeterminate]="indeterminate"
        nzLabel="Select all"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>

      <th class="text-center" nzWidth="120px">Hình ảnh</th>
      <th
        style="width: 50%"
        [nzSortFn]="true"
        (nzSortOrderChange)="onSortChange('name')"
      >
        Tên sản phẩm
      </th>
      <th class="text-center" nzWidth="120px">Nổi bật</th>
      <th class="text-center" nzWidth="120px">Hoạt động</th>
    </tr>
    <tr>
      <th colspan="2"></th>
      <th>
        <form (ngSubmit)="onSearch()" autocomplete="off">
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input
              type="text"
              nz-input
              placeholder="Nhập tên sản phẩm"
              [(ngModel)]="prm.search"
              name="search"
            />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <span nz-icon nzType="search"></span>
          </ng-template>
        </form>
      </th>
      <th colSpan="2"></th>
    </tr>
  </thead>
  <tbody>
    @for (data of items?.data; track data.id) {
    <tr>
      <td
        [nzChecked]="setOfCheckedId.has(data.id)"
        [nzLabel]="data.name"
        (nzCheckedChange)="onItemChecked(data.id, $event)"
      ></td>
      <td class="text-center">
        <img
          class="img-in-table"
          nz-image
          nzSrc="{{ data.imgUrl }}"
          alt="{{ data.name }}"
        />
      </td>

      <td>{{ data.name }}</td>
      <td class="text-center">
        <i
          [ngClass]="data.isFeatured ? 'bi bi-circle-fill' : 'bi bi-circle'"
        ></i>
      </td>

      <td class="text-center">
        <i
          [ngClass]="data.isPublished ? 'bi bi-circle-fill' : 'bi bi-circle'"
        ></i>
      </td>
    </tr>
    }
  </tbody>
</nz-table>
<div
  *ngIf="items != null"
  class="d-flex align-items-center justify-content-center mt-3"
>
  <nz-pagination
    [nzPageIndex]="items.pageIndex"
    [nzTotal]="items.count"
    [nzSize]="'default'"
    [nzPageSize]="items.pageSize"
    (nzPageIndexChange)="onPageIndexChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
    [nzShowTotal]="totalTemplate"
    [nzShowSizeChanger]="true"
    [nzShowQuickJumper]="true"
    [nzPageSizeOptions]="[3, 5, 10, 20, 50]"
  ></nz-pagination>
  <ng-template #totalTemplate let-total>Tổng {{ total }} sản phẩm</ng-template>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Kết quả Import"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <div style="color: var(--primary)">
      RowChanges: {{ importResult?.rowChange }}
    </div>
    @for (er of importResult?.errors; track $index) {
    <div style="color: var(--danger)">Error: {{ er }}</div>
    }
    <div
      style="color: var(--primary)"
      *ngIf="!importResult?.errors || importResult?.errors?.length === 0"
    >
      Import thành công. Load lại để xem thay đổi
    </div>
  </ng-container>
</nz-modal>
