@if (userService.currentUser()) {
<nz-layout class="layout">
  <nz-sider
    nzCollapsible
    nzBreakpoint="xxl"
    [nzCollapsedWidth]="0"
    [nzWidth]="230"
  >
    <app-sidebar></app-sidebar>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <app-header></app-header>
    </nz-header>
    <nz-content>
      <div
        class="inner-content"
        [class.sale-styles]="isSaleComponentActive"
        [class.report-styles]="isReportComponentActive"
      >
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>

} @else {
<app-login></app-login>
}

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">
    Đang tải. Vui lòng đợi trong giây lát...
  </p>
</ngx-spinner>
