footer a {
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: var(--blue) !important; /* Màu khi hover (có thể đổi) */
}

footer .fab,
footer .fas {
  font-size: 1.2rem;
}
