<nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
  <a
    class="navbar-brand"
    href="#"
    class="logo d-flex justify-content-center align-items-center"
  >
    <img
      class="me-3"
      src="img/noBgColor.png"
      alt="k tea logo"
      width="80"
      height="auto"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a
          class="nav-link text-menu"
          [class.active]="currentPage === 1"
          (click)="changePage(1)"
          routerLink="/"
          >Trang chủ</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-menu"
          [class.active]="currentPage === 2"
          (click)="changePage(2)"
          routerLink="/thuc-don"
          >Thực đơn</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-menu"
          [class.active]="currentPage === 3"
          (click)="changePage(3)"
          routerLink="/goi-y-mon-ai"
          >Gợi ý thực đơn (AI)</a
        >
      </li>
    </ul>
  </div>
  <div class="icon-container">
    <div class="d-flex gap-3 align-items-center">
      <nz-badge (click)="open()" [nzCount]="cartService.itemCount()">
        <span
          class="icon-nav"
          nz-icon
          nzType="shopping-cart"
          nzTheme="outline"
        ></span>
      </nz-badge>

      <span
        *ngIf="!userService.currentUser()"
        routerLink="/dang-nhap"
        class="icon-nav"
        nz-icon
        nzType="user"
        nzTheme="outline"
      ></span>

      <div *ngIf="userService.currentUser()" class="d-flex align-items-center">
        <div
          class="ms-auto d-flex gap-2 align-items-center justify-content-center"
        >
          <nz-avatar
            [nzShape]="'square'"
            [nzSize]="'large'"
            nzSrc="https://avatars.githubusercontent.com/u/142555542?v=4"
          ></nz-avatar>
          <a nz-dropdown [nzDropdownMenu]="menu">
            {{ userService.currentUser()?.fullName }}
            <span nz-icon nzType="down"></span>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item (click)="goHistoryOrder()">Lịch sử đặt hàng</li>
              <li nz-menu-item (click)="goUpdateInfo()">Thay đổi thông tin</li>
              <li nz-menu-item nzDanger (click)="userService.logout()">
                Đăng xuất
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </div>
  </div>
</nav>

<app-cart></app-cart>
