<nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
  <a
    class="navbar-brand"
    href="#"
    class="logo d-flex justify-content-center align-items-center"
  >
    <img
      class="me-3"
      src="img/noBgColor.png"
      alt="k tea logo"
      width="80"
      height="auto"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a
          class="nav-link text-menu"
          [class.active]="currentPage === 1"
          (click)="changePage(1)"
          routerLink="/"
          >Trang chủ</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-menu"
          [class.active]="currentPage === 2"
          (click)="changePage(2)"
          routerLink="/thuc-don"
          >Thực đơn</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-menu"
          [class.active]="currentPage === 3"
          (click)="changePage(3)"
          >Gợi ý thực đơn</a
        >
      </li>
    </ul>
  </div>
  <div class="icon-container">
    <div class="d-flex gap-3">
      <span
        class="icon-nav"
        nz-icon
        nzType="shopping-cart"
        nzTheme="outline"
      ></span>
      <span class="icon-nav" nz-icon nzType="user" nzTheme="outline"></span>
    </div>
  </div>
</nav>
