<nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
  <a
    class="navbar-brand"
    href="#"
    class="logo d-flex justify-content-center align-items-center"
  >
    <img
      class="me-3"
      src="img/noBgColor.png"
      alt="k tea logo"
      width="80"
      height="auto"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a
          class="nav-link text-menu"
          [class.active]="currentPage === 1"
          (click)="changePage(1)"
          routerLink="/"
          >Trang chủ</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-menu"
          [class.active]="currentPage === 2"
          (click)="changePage(2)"
          routerLink="/thuc-don"
          >Thực đơn</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-menu"
          [class.active]="currentPage === 3"
          (click)="changePage(3)"
          >Gợi ý thực đơn</a
        >
      </li>
    </ul>
  </div>
  <div class="icon-container">
    <div class="d-flex gap-3 align-items-center">
      <nz-badge (click)="open()" [nzCount]="cartService.itemCount()">
        <span
          class="icon-nav"
          nz-icon
          nzType="shopping-cart"
          nzTheme="outline"
        ></span>
      </nz-badge>

      <span
        *ngIf="!userService.currentUser()"
        routerLink="/dang-nhap"
        class="icon-nav"
        nz-icon
        nzType="user"
        nzTheme="outline"
      ></span>

      <div *ngIf="userService.currentUser()" class="d-flex align-items-center">
        <div
          class="ms-auto d-flex gap-2 align-items-center justify-content-center"
        >
          <nz-avatar
            [nzShape]="'square'"
            [nzSize]="'large'"
            nzSrc="https://avatars.githubusercontent.com/u/142555542?v=4"
          ></nz-avatar>
          <a nz-dropdown [nzDropdownMenu]="menu">
            {{ userService.currentUser()?.fullName }}
            <span nz-icon nzType="down"></span>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item nzDanger (click)="userService.logout()">
                Đăng xuất
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- cart drawer -->
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="500"
  [nzVisible]="visible"
  nzTitle="GIỎ HÀNG CỦA BẠN"
  [nzFooter]="footerTpl"
  (nzOnClose)="close()"
>
  <div *nzDrawerContent>
    @for (item of cartService.cart()?.items; track item.itemId) {
    <div class="d-flex gap-3">
      <img
        nz-image
        [nzSrc]="item.itemImg"
        [alt]="item.itemName"
        class="img-in-table mb-3"
      />
      <div class="d-flex flex-column gap-1">
        <div
          class="item-name"
          style="font-size: 14px; text-align: start; padding: 0; margin: 0"
          nz-tooltip
          nzTooltipTitle="  {{ item.itemName }} - {{ item.size }}"
        >
          {{ item.itemName }} - {{ item.size }}
        </div>
        <div>
          Giá:
          <span class="fw-medium">{{ utilService.formatVND(item.price) }}</span>
        </div>
        <div class="d-flex gap-2 align-items-center">
          <button nz-button type="default" (click)="onMinus(item)">-</button>
          <span>SL: {{ item.quantity }}</span>
          <button nz-button type="default" (click)="onPlus(item)">+</button>
        </div>
      </div>
    </div>
    }

    <div class="d-flex gap-3 align-items-center mt-5">
      <label for="code" style="font-size: 18px" class="fw-medium"
        >Mã giảm giá:
      </label>
      <input
        class="w-50"
        nz-input
        placeholder="Mã giảm giá"
        id="code"
        [(ngModel)]="promotionCode"
      />
      <button
        type="button"
        nz-button
        nzType="primary"
        (click)="applyDiscount()"
      >
        Áp dụng
      </button>
    </div>

    <hr />
    <div style="font-size: 18px" class="d-flex">
      <div class="fw-medium">Tổng:</div>
      <div class="ms-auto">
        {{ utilService.formatVND(cartService.totals()) }}
      </div>
    </div>

    <hr *ngIf="discount" />
    <div *ngIf="discount" style="font-size: 18px" class="d-flex">
      @if(discount.amountOff) {
      <div class="fw-medium">Giảm giá (tiền):</div>
      <div class="ms-auto">
        -{{ utilService.formatVND(discount.amountOff) }}
      </div>
      } @else {
      <div class="fw-medium">Giảm giá ({{ discount.percentOff }}%):</div>
      <div class="ms-auto">
        -{{
          utilService.formatVND(
            (cartService.totals() * discount.percentOff!) / 100
          )
        }}
      </div>
      }
    </div>

    <hr />
    <div style="font-size: 18px" class="d-flex">
      <div class="fw-medium">Thành tiền:</div>
      @if(discount) { @if(discount.amountOff) {
      <div class="ms-auto">
        {{ utilService.formatVND(cartService.totals() - discount.amountOff) }}
      </div>
      } @else {
      <div class="ms-auto">
        {{
          utilService.formatVND(
            cartService.totals() -
              (cartService.totals() * discount.percentOff!) / 100
          )
        }}
      </div>
      } } @else {
      <div class="ms-auto">
        {{ utilService.formatVND(cartService.totals()) }}
      </div>
      }
    </div>

    <hr />
    <div style="font-size: 18px" class="d-flex">
      <div class="fw-medium">Phương thức thanh toán:</div>
      <div class="ms-auto">
        <nz-select [(ngModel)]="paymentType">
          @for (item of paymentTypeList; track item) {
          <nz-option
            [nzValue]="item.value"
            [nzLabel]="item.displayName"
          ></nz-option>
          }
        </nz-select>
      </div>
    </div>

    <hr />
    <div style="font-size: 18px">
      <div class="fw-medium">Số điện thoại</div>
      <input
        type="text"
        nz-input
        [(ngModel)]="phoneNumber"
        placeholder="Nhập số điện thoại người nhận"
      />
    </div>

    <hr />
    <div style="font-size: 18px">
      <div class="fw-medium">Địa chỉ</div>
      <input
        type="text"
        nz-input
        [(ngModel)]="address"
        placeholder="Nhập địa chỉa giao hàng"
      />
    </div>

    <hr />
    <div style="font-size: 18px">
      <div class="fw-medium">Mô tả</div>
      <textarea
        nz-input
        placeholder="Nhập mô tả của đơn hàng"
        nzAutosize
        [(ngModel)]="description"
      ></textarea>
    </div>
  </div>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px" (click)="close()">
        Đóng
      </button>
      <button type="button" nz-button nzType="primary" (click)="createOrder()">
        Đặt hàng
      </button>
    </div>
  </ng-template>
</nz-drawer>
