/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #09a779;
  --danger: #f46d6e;
  --blue: #5a90e0;
  --blue-light: #85b2ed;
  --warning: #fcc419;
  --waring-light: #ffd642;
}
/* có important vì trường hợp sử dụng của các class này được sử dụng trong button của ng zorro */
.btn-blue {
  background-color: var(--blue) !important;
  color: #fff !important;
}

.btn-blue:hover {
  color: #fff !important;
  border-color: var(--blue-light) !important;
  background: var(--blue-light) !important;
}

.btn-yellow {
  background-color: var(--warning) !important;
  color: #fff !important;
}

.btn-yellow:hover {
  color: #fff !important;
  border-color: var(--waring-light) !important;
  background: var(--waring-light) !important;
}

/* text */
.text-danger {
  color: var(--danger) !important;
}

/* table */
/* Style cho ô trong table có nội dung dài */
/* Style for table cells with long content */
.fixed-height-box {
  height: 80px;
  max-height: 100px;
  overflow-y: auto; /* Hiển thị thanh cuộn dọc khi nội dung quá dài */
  white-space: pre-wrap; /* Bảo toàn định dạng xuống dòng trong văn bản */
  text-overflow: ellipsis;
  text-indent: -0.5ch;
  scrollbar-width: none; /* Ẩn thanh cuộn trong Firefox */
}

.fixed-height-box::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn trong Chrome, Edge và Safari */
}

.img-in-table {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
}

/* toastr */
.toast-success {
  background-color: var(--primary) !important;
  color: white !important;
}

.toast-error {
  background-color: var(--danger) !important;
  color: white !important;
}

.inner-content.sale-styles,
.inner-content.report-styles,
.inner-content.update-user-styles {
  background-color: #f0f2f5 !important;
  padding: 0 !important;
}
