<div class="login-container">
  <div class="d-flex align-items-center justify-content-center">
    <nz-card style="width: 600px">
      <h5 class="mb-4 text-center">Vui lòng nhập mật khẩu mới</h5>

      <div class="mb-3">
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
            placeholder="Mật khẩu mới"
            [(ngModel)]="password"
            (keydown.enter)="onSubmit()"
          />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <span
            nz-icon
            class="ant-input-password-icon"
            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"
          ></span>
        </ng-template>
        <span class="text-danger">{{ passwordErrorMessage }}</span>
      </div>

      <div class="mb-3">
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
            placeholder="Xác nhận mật khẩu"
            [(ngModel)]="confirmPassword"
            (keydown.enter)="onSubmit()"
          />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <span
            nz-icon
            class="ant-input-password-icon"
            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"
          ></span>
        </ng-template>
        <span class="text-danger">{{ confirmPasswordErrorMessage }}</span>
      </div>

      <button nz-button nzType="primary" nzvalue="large" (click)="onSubmit()">
        Xác nhận
      </button>
    </nz-card>
  </div>
</div>
