<div class="container">
  <h1 class="my-5 text-center" style="text-transform: uppercase">
    Thực đơn hiện tại
  </h1>

  <div class="category-list">
    <div
      class="category-item"
      [class.active]="prm.categoryId === 0"
      (click)="selectCategory(0)"
    >
      Tất cả
    </div>
    @for (c of categories; track $index) {
    <div
      class="category-item"
      [class.active]="prm.categoryId === c.id"
      (click)="selectCategory(c.id)"
    >
      {{ c.name }}
    </div>
    }
  </div>
  <div class="search-box">
    <form (ngSubmit)="onSearch()" autocomplete="off">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input
          type="text"
          nz-input
          placeholder="Nhập tên sản phẩm"
          [(ngModel)]="prm.search"
          name="search"
        />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </form>
  </div>

  <div class="product-grid">
    @if (items) { @for (item of items.data; track item.id) {
    <nz-card style="cursor: pointer" (click)="showModal(item.id)">
      <div class="d-flex flex-column gap-3">
        <!-- Badge GIẢM GIÁ (nếu có newPrice) -->
        @if (item.sizes[0].newPrice) {
        <div class="discount-badge">
          Giảm
          {{
            calculateDiscountPercent(
              item.sizes[0].price,
              item.sizes[0].newPrice
            )
          }}%
        </div>
        }
        <!-- Badge NỔI BẬT (nếu isFeatured = true) -->
        @if (item.isFeatured) {
        <div class="featured-badge">Nổi bật</div>
        }
        <img [src]="item.imgUrl" [alt]="item.name" class="product-image" />
        <div nz-tooltip nzTooltipTitle="{{ item.name }}" class="item-name">
          {{ item.name }}
        </div>
        <div class="item-price">
          Giá:
          <span class="fw-medium" [class.old-price]="item.sizes[0].newPrice">
            {{ utilService.formatVND(item.sizes[0].price) }}
          </span>
          @if (item.sizes[0].newPrice) {
          <span class="fw-medium new-price">
            {{ utilService.formatVND(item.sizes[0].newPrice) }}
          </span>
          }
        </div>
      </div>
    </nz-card>
    } }
  </div>

  <!-- pagination -->
  <div
    *ngIf="items != null"
    class="d-flex align-items-center justify-content-center mt-5 mb-3"
  >
    <nz-pagination
      [nzPageIndex]="items.pageIndex"
      [nzTotal]="items.count"
      [nzSize]="'default'"
      [nzPageSize]="items.pageSize"
      (nzPageIndexChange)="onPageIndexChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)"
      [nzShowTotal]="totalTemplate"
      [nzShowSizeChanger]="true"
      [nzShowQuickJumper]="true"
      [nzPageSizeOptions]="[3, 5, 10, 20, 50]"
    ></nz-pagination>
    <ng-template #totalTemplate let-total
      >Tổng {{ total }} sản phẩm</ng-template
    >
  </div>
</div>

<!-- item modal -->
<app-item-modal></app-item-modal>
