/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #09a779;
  --danger: #f46d6e;
  --blue: #5a90e0;
  --blue-light: #85b2ed;
  --warning: #fcc419;
  --waring-light: #ffd642;
}

/* toastr */
.toast-success {
  background-color: var(--primary) !important;
  color: white !important;
}

.toast-error {
  background-color: var(--danger) !important;
  color: white !important;
}

.img-in-table {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
}
