<div class="d-flex align-items-center justify-content-between">
  <h1>Quản lý danh mục</h1>

  <div class="d-flex gap-2">
    <button nzType="primary" nzSize="large" nz-button (click)="showAddModal()">
      Thêm
    </button>
    <button
      nzSize="large"
      nz-button
      [ngClass]="{ 'btn-blue': setOfCheckedId.size === 1 }"
      [disabled]="setOfCheckedId.size != 1"
      (click)="showUpdateModal()"
    >
      Sửa
    </button>

    <button
      nzSize="large"
      nzType="primary"
      nz-button
      nzDanger
      [disabled]="setOfCheckedId.size === 0"
      (click)="showDeleteConfirm()"
    >
      Xoá {{ setOfCheckedId.size === 0 ? "" : setOfCheckedId.size }}
    </button>
  </div>
</div>

<nz-table
  nzBordered
  [nzData]="categories?.data ?? []"
  [nzFrontPagination]="false"
  [nzScroll]="{ x: '1200px', y: '300px' }"
>
  <thead>
    <tr>
      <th
        nzWidth="80px"
        [nzChecked]="checked"
        [nzIndeterminate]="indeterminate"
        nzLabel="Select all"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>
      <th
        nzWidth="80px"
        [nzSortFn]="true"
        (nzSortOrderChange)="onSortChange('id')"
      >
        #
      </th>
      <th
        style="width: 50%"
        [nzSortFn]="true"
        (nzSortOrderChange)="onSortChange('name')"
      >
        Danh mục
      </th>
      <th style="width: 20%">Slug</th>
      <th style="width: 20%">Mô tả</th>
    </tr>
    <tr>
      <th></th>
      <th colspan="2">
        <form (ngSubmit)="onSearch()" autocomplete="off">
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input
              type="text"
              nz-input
              placeholder="Nhập tên mã hoặc tên danh mục"
              [(ngModel)]="prm.search"
              name="search"
            />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <span nz-icon nzType="search"></span>
          </ng-template>
        </form>
      </th>
      <th colSpan="2"></th>
    </tr>
  </thead>
  <tbody>
    @for (data of categories?.data; track data.id) {
    <tr>
      <td
        [nzChecked]="setOfCheckedId.has(data.id)"
        [nzLabel]="data.name"
        (nzCheckedChange)="onItemChecked(data.id, $event)"
      ></td>
      <td class="text-center">{{ data.id }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.slug }}</td>
      <td class="fixed-height-box">{{ data.description }}</td>
    </tr>
    }
  </tbody>
</nz-table>
<div
  *ngIf="categories != null"
  class="d-flex align-items-center justify-content-center mt-3"
>
  <nz-pagination
    [nzPageIndex]="categories.pageIndex"
    [nzTotal]="categories.count"
    [nzSize]="'default'"
    [nzPageSize]="categories.pageSize"
    (nzPageIndexChange)="onPageIndexChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
    [nzShowTotal]="totalTemplate"
    [nzShowSizeChanger]="true"
    [nzShowQuickJumper]="true"
    [nzPageSizeOptions]="[3, 5, 10, 20, 50]"
  ></nz-pagination>
  <ng-template #totalTemplate let-total>Tổng {{ total }} danh mục</ng-template>
</div>

<!-- category add modal -->
<app-category-add
  (categoryAdded)="handleEventAddParent($event)"
></app-category-add>

<!-- category update modal -->
<app-category-update
  (categoryUpdated)="handleEventUpdate($event)"
></app-category-update>
