<div class="d-flex align-items-center justify-content-between">
  <h1>Quản lý danh mục</h1>
  <div>
    <form (ngSubmit)="onSearch()" autocomplete="off">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input
          type="text"
          nz-input
          placeholder="Nhập danh mục"
          [(ngModel)]="prm.search"
          name="search"
        />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </form>
  </div>
  <div class="d-flex gap-2">
    <button nzType="primary" nzSize="large" nz-button (click)="sendRequest()">
      Thêm
    </button>
    <button
      nzSize="large"
      nz-button
      [ngClass]="{ 'btn-blue': setOfCheckedId.size === 1 }"
      [disabled]="setOfCheckedId.size != 1"
      (click)="sendRequest()"
    >
      Sửa
    </button>
    <button
      nzSize="large"
      nz-button
      [ngClass]="{ 'btn-yellow': setOfCheckedId.size === 1 }"
      [disabled]="setOfCheckedId.size != 1"
      (click)="sendRequest()"
    >
      Xem
    </button>

    <button
      nzSize="large"
      nzType="primary"
      nz-button
      nzDanger
      [disabled]="setOfCheckedId.size === 0"
      (click)="sendRequest()"
    >
      Xoá {{ setOfCheckedId.size === 0 ? "" : setOfCheckedId.size }}
    </button>
  </div>
</div>

<nz-table
  [nzData]="categories?.data ?? []"
  [nzFrontPagination]="false"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
  <thead>
    <tr>
      <th
        style="width: 5%"
        [nzChecked]="checked"
        [nzIndeterminate]="indeterminate"
        nzLabel="Select all"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>
      <th>Danh mục</th>
      <th>Slug</th>
      <th>Mô tả</th>
    </tr>
  </thead>
  <tbody>
    @for (data of categories?.data; track data.id) {
    <tr>
      <td
        [nzChecked]="setOfCheckedId.has(data.id)"
        [nzLabel]="data.name"
        (nzCheckedChange)="onItemChecked(data.id, $event)"
      ></td>
      <td>{{ data.name }}</td>
      <td>{{ data.slug }}</td>
      <td class="fixed-height-box">{{ data.description }}</td>
    </tr>
    }
  </tbody>
</nz-table>
<div
  *ngIf="categories != null"
  class="d-flex align-items-center justify-content-center mt-3"
>
  <nz-pagination
    [nzPageIndex]="categories.pageIndex"
    [nzTotal]="categories.count"
    [nzSize]="'default'"
    [nzPageSize]="categories.pageSize"
    (nzPageIndexChange)="onPageIndexChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
    [nzShowTotal]="totalTemplate"
    [nzShowSizeChanger]="true"
    [nzShowQuickJumper]="true"
    [nzPageSizeOptions]="[3, 5, 10, 20, 50]"
  ></nz-pagination>
  <ng-template #totalTemplate let-total>Tổng {{ total }} danh mục</ng-template>
</div>
