<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Cập nhật danh mục"
  (nzOnCancel)="handleCancel()"
  [nzFooter]="null"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="frm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Tên danh mục</nz-form-label>
        <nz-form-control
          [nzSpan]="12"
          nzHasFeedback
          nzValidatingTip="Validating..."
          [nzErrorTip]="nameErrorTpl"
        >
          <input
            nz-input
            formControlName="name"
            placeholder="Nhập tên danh mục"
          />
          <ng-template #nameErrorTpl let-control>
            @if (control.errors?.['required']) { Vui lòng nhập tên danh mục! }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Slug</nz-form-label>
        <nz-form-control
          [nzSpan]="12"
          nzHasFeedback
          [nzErrorTip]="slugErrorTpl"
        >
          <input
            class="w-100"
            nz-input
            formControlName="slug"
            placeholder="ex: thuc-an, nuoc-giai-khac..."
          />
          <ng-template #slugErrorTpl let-control>
            @if (control.errors?.['required']) { Vui lòng nhập Slug! }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Mô tả</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <textarea
            nz-input
            placeholder="Nhập mô tả của danh mục"
            nzAutosize
            formControlName="description"
          ></textarea>
        </nz-form-control>
      </nz-form-item>

      <div
        *ngIf="validationErrors && validationErrors.length > 0"
        class="mx-auto text-danger"
      >
        <ul>
          <li
            *ngFor="let error of validationErrors; let i = index"
            class="mb-2"
          >
            {{ error }}
          </li>
        </ul>
      </div>

      <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
          <div class="d-flex gap-2">
            <button
              type="submit"
              nz-button
              nzType="primary"
              [disabled]="!frm.valid"
            >
              Lưu
            </button>
            <button nz-button type="button" (click)="handleCancel()">
              Đóng
            </button>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
