<div class="login-container">
  <div class="d-flex align-items-center justify-content-center">
    <nz-card style="width: 600px">
      <h5 class="mb-4 text-center">
        Vui lòng điền email mà bạn sử dụng để đăng nhập
      </h5>

      <input
        class="mb-3"
        nz-input
        placeholder="Email"
        type="text"
        [(ngModel)]="email"
        (keydown.enter)="onSubmit()"
      />
      @if(errorMessage) {
      <span class="text-danger">{{ errorMessage }}</span>
      }
      <button nz-button nzType="primary" nzvalue="large" (click)="onSubmit()">
        Xác nhận
      </button>
    </nz-card>
  </div>
</div>
